[env]
ALUMNIUM_MODEL = "azure_openai"
ALUMNIUM_TRACE = true
ALUMNIUM_LOG_LEVEL = "debug"
ALUMNIUM_LOG_DEBUG_EXTRA = "all"
ALUMNIUM_LOG_OBJECTS_DEPTH = false
ALUMNIUM_LOG_MAX_STR_LENGTH = false
ALUMNIUM_DEV_CAPTURE_TREES = true
ALUMNIUM_TEST_MAX_CONCURRENCY = 16
ALUMNIUM_CLI_CMD = "mise //packages/typescript:dev/cli"
# Uncomment to use Podman instead of Docker:
# DOCKER_CLI_CMD = "podman"
