@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.js";

/* Base theme *****************************************************************/

/* Dev */

.debug {
  @apply border border-[red] bg-[red]/15;

  & & {
    @apply border-[yellow]! bg-[yellow]/15!;
  }

  & & & {
    @apply border-[lime]! bg-[lime]/15!;
  }

  & & & & {
    @apply border-[cyan]! bg-[cyan]/15!;
  }

  & & & & & {
    @apply border-[magenta]! bg-[magenta]/15!;
  }

  & & & & & & {
    @apply border-[orange]! bg-[orange]/15!;
  }
}

@utility debug {
  @apply border;
}

/* Fonts */

@theme {
  --font-sans: "Mona Sans Variable", serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

@utility font-display {
  font-family: "Hubot Sans Variable", serif;
}

@utility text-ms {
  font-size: 15px;
}

/* Colors */

@theme {
  --color-white: #f7f7ff;
  --color-black: #00020b;
  --color-logo: #334cc2;
  --color-canvas: #04007a;
  --color-ink-dark: #d0d5e1;
  --color-ink-light: #0d1017;
}

/* Icons */

@utility icon {
  --icon-negative-margin: 0.1em;

  width: var(--icon-size, 1em);
  height: var(--icon-size, 1em);
  color: var(--icon-color, var(--color-accent-400));
  fill: currentColor;
  margin: calc(var(--icon-negative-margin) * -1);

  & path[fill]:not([fill="none"]),
  g[fill]:not([fill="none"]) {
    fill: currentColor;
  }

  &.is-brands,
  &.is-dev,
  &.is-logo {
    padding: calc(var(--icon-negative-margin) + 0.04em);
  }
}

@theme {
  --icon-size-sm: 2rem;
  --icon-size-md: 4rem;
  --icon-size-lg: 4rem;
}

@utility icon-* {
  width: --value([*]);
  height: --value([*]);

  width: --value(--icon-size-*);
  height: --value(--icon-size-*);

  fill: --value(--color-*);
  color: --value(--color-*);
}

@utility symbol {
  @apply font-thin font-mono;
  color: var(--symbol-color, var(--color-accent-400));
}

:root {
  --pattern-canvas-size: 48px;
}

@utility pattern-canvas {
  background-image: url("../assets/pattern-canvas.svg");
  background-color: color-mix(in srgb, var(--color-canvas), transparent 60%);
  background-blend-mode: darken;
  background-repeat: repeat;
  background-size: var(--pattern-canvas-size) var(--pattern-canvas-size);
}

@utility pattern-canvas-container {
  @apply pattern-canvas;
  background-position: center
    calc(var(--sl-nav-height) / 2 - var(--pattern-canvas-size) / 2);
}

@utility pattern-canvas-content {
  @apply pattern-canvas;
  background-position: center top
    calc(var(--sl-nav-height) + var(--pattern-canvas-size) / -2);
}

/* Layout */

.page {
  @apply pattern-canvas-container border-b border-transparent;

  & > .header {
    @apply bg-transparent border-b border-transparent;
    background-position: center top;

    &.has-stuck {
      @apply pattern-canvas-container;
    }
  }

  & > .main-frame {
    @apply grow flex flex-col;

    & > * {
      @apply bg-content-light dark:bg-content-dark grow;
    }
  }
}

/* Social icons */

.social-icons {
  & a {
    @apply text-gray-500 dark:text-gray-400 md:text-accent-200 dark:md:text-accent-200;
  }
}

/* Theme & language select */

starlight-language-select,
starlight-theme-select {
  & label,
  & select {
    @apply text-gray-500 dark:text-gray-200 md:text-accent-200;
  }

  & select option {
    @apply text-accent-200 bg-accent-800;

    &:checked {
      @apply text-white bg-accent-700;
    }
  }
}

/* Search */

site-search {
  & button {
    @apply border-transparent;

    :root[data-theme="light"] &:not(.site-search-secondary) {
      @apply text-gray-200;

      &:hover {
        @apply text-gray-950;
      }
    }
  }

  :root[data-theme="light"] &:not(.site-search-secondary) button {
    @apply text-gray-600;

    &:hover {
      @apply text-gray-950;
    }
  }

  & svg {
    @apply text-accent-200  md:text-accent-400;

    :root[data-theme="light"] & {
      @apply text-gray-500;
    }
  }

  &.site-search-secondary,
  :root[data-theme="light"] &.site-search-secondary {
    & button {
      @apply text-accent-400 bg-transparent border-accent-700 max-w-48;

      & svg {
        @apply text-accent-200  md:text-accent-400;
      }

      & > kbd {
        @apply bg-transparent border border-accent-800 text-accent-500;
      }
    }
  }
}

/* Menu button */

starlight-menu-button button {
  @apply flex items-center justify-center md:hidden;
  background: var(--color-canvas);
  box-shadow: none;
  color: var(--color-gray-200);
  padding: 0;
  font-size: 1.5rem;
}

/* Code */

.code,
.astro-code {
  @apply rounded-md;
}

:root {
  /* Banner */

  --sl-color-bg-accent: var(--color-accent-700);
  --sl-color-banner-text: var(--color-white);

  /* Accent colors */

  --sl-color-accent-high: var(--color-accent-200);
  --sl-color-accent-low: var(--color-gray-800);
}

/* Spacing */

@utility col {
  @apply flex flex-col gap-6 md:gap-10;
}

@utility col-divide {
  @apply col divide-y divide-accent-800;

  & > :not(:last-child) {
    @apply pb-6 md:pb-10;
  }
}

@utility col-lg {
  @apply col gap-10 md:gap-14;
}

@utility col-divide-lg {
  @apply col-divide col-lg;

  & > :not(:last-child) {
    @apply pb-10 md:pb-14;
  }
}

/* Content */

@utility content-wrapper {
  @apply w-full m-auto;
}

@utility content-wrapper-md {
  @apply content-wrapper md:max-w-5xl;
}

@utility content-wrapper-lg {
  @apply content-wrapper md:max-w-6xl;
}

@utility content-inner {
  @apply w-full max-w-5xl m-auto px-2 pt-5 pb-10 sm:px-10 sm:py-10;
}

@utility content-inner-lg {
  @apply content-inner max-w-7xl py-10 md:py-14;
}

/* Footer */

:root {
  --sl-main-pad: 0;
}

/* Dark theme *****************************************************************/

:root {
  /* Base */

  --sl-color-white: var(--color-white);
  --sl-color-black: var(--color-black);

  /* Text */

  --sl-color-text: var(--color-ink-dark);

  /* Backgrounds */

  --sl-color-bg: var(--color-content-dark);
  --sl-color-bg-nav: var(--color-canvas);
  --sl-color-bg-sidebar: var(--color-content-dark);
  --sl-color-bg-inline-code: #17224c;

  /* Hairlines */

  --sl-color-hairline-light: var(--color-gray-700);
  --sl-color-hairline: var(--color-gray-800);
  --sl-color-hairline-shade: var(--color-gray-800);

  /* Code theme */

  /* Base */
  --astro-code-background: #000;
  --astro-code-foreground: #b8b0cb;
  --astro-code-token-comment: #cca879;

  /* Tokens */
  --astro-code-token-keyword: #ff8df4;
  --astro-code-token-function: #d4b0ff;
  --astro-code-token-string-expression: #94a5ef;
  --astro-code-token-string: #94a5ef;
}

/* Mobile ToC */

mobile-starlight-toc {
  & nav {
    background-color: var(--color-content-dark);
  }
}

/* Light theme ****************************************************************/

:root[data-theme="light"] {
  /* Base */

  --sl-color-white: var(--color-black);
  --sl-color-black: var(--color-white);

  /* Text */

  --sl-color-text: var(--color-ink-light);

  /* Backgrounds */

  --sl-color-bg: var(--color-content-light);
  --sl-color-bg-sidebar: var(--color-content-light);
  --sl-color-bg-inline-code: var(--color-accent-100);

  /* Hairlines */

  --sl-color-hairline-light: var(--color-gray-300);
  --sl-color-hairline: var(--color-gray-200);
  --sl-color-hairline-shade: var(--color-gray-200);

  /* Mobile ToC */

  & mobile-starlight-toc {
    & nav {
      background-color: var(--color-content-light);
    }
  }
}

/* Tailwind theme *************************************************************/

@theme {
  /* Elements */

  --color-del-canvas: #4863b46b;

  --color-content-dark: var(--color-gray-900);
  --color-content-light: var(--color-gray-50);

  --color-header: var(--sl-color-white);

  --color-del-dark: var(--color-gray-800);
  --color-del-light: var(--color-gray-200);

  /* Breakpoints */

  --breakpoint-sm: 40rem; /* Default, 640px */
  --breakpoint-md: 48rem; /* Default, 768px */
  --breakpoint-lg: 64rem; /* Default, 1024px */
  --breakpoint-xl: 75rem; /* 1200px */
  --breakpoint-2xl: 96rem; /* Default, 1536px */

  /* Cerulean Blue */

  --color-cerulean-blue-50: #ecf9ff;
  --color-cerulean-blue-100: #d5efff;
  --color-cerulean-blue-200: #b4e4ff;
  --color-cerulean-blue-300: #80d5ff;
  --color-cerulean-blue-400: #44bbff;
  --color-cerulean-blue-500: #1a99ff;
  --color-cerulean-blue-600: #0278ff;
  --color-cerulean-blue-700: #0060f9;
  --color-cerulean-blue-800: #044cc7;
  --color-cerulean-blue-900: #0b459d;
  --color-cerulean-blue-950: #0c2a5f;

  /* Cyan */

  --color-cyan-50: #f1ffff;
  --color-cyan-100: #e0fffe;
  --color-cyan-200: #d5ffff;
  --color-cyan-300: #bdffff;
  --color-cyan-400: #91fffb;
  --color-cyan-500: #64eaec;
  --color-cyan-600: #3dd7cd;
  --color-cyan-700: #22bcbf;
  --color-cyan-800: #109fa2;
  --color-cyan-900: #00747a;
  --color-cyan-950: #004b4c;

  /* Magenta */

  --color-magenta-50: #fdf1ff;
  --color-magenta-100: #fae0ff;
  --color-magenta-200: #f9d5ff;
  --color-magenta-300: #eebdff;
  --color-magenta-400: #ef91ff;
  --color-magenta-500: #dc64ec;
  --color-magenta-600: #d23dd7;
  --color-magenta-700: #b222bf;
  --color-magenta-800: #9d10a2;
  --color-magenta-900: #72007a;
  --color-magenta-950: #3d004c;

  /* Accent */

  --color-accent-50: #f1f1ff;
  --color-accent-100: #e0e6ff;
  --color-accent-200: #d5dbff;
  --color-accent-300: #bdc4ff;
  --color-accent-400: #91a5ff;
  --color-accent-500: #647bec;
  --color-accent-600: #3d52d7;
  --color-accent-700: #223abf;
  --color-accent-800: #101aa2;
  --color-accent-900: var(--color-canvas);
  --color-accent-950: #03004c;

  /* Gray */

  --color-gray-50: #f3f5ff;
  --color-gray-100: #e4e6ed;
  --color-gray-200: #d4d7e0;
  --color-gray-300: #9fa6bc;
  --color-gray-400: #787f96;
  --color-gray-500: #505975;
  --color-gray-600: #444d6b;
  --color-gray-700: #1f2433;
  --color-gray-800: #10162d;
  --color-gray-900: #01040f;
  --color-gray-950: #00020b;
}
